<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5LR66rhmJVOD5HjheYpoPdsXnPSm9760</string>
	<key>GCM_SENDER_ID</key>
	<string>493159430521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paceApplication</string>
	<key>PROJECT_ID</key>
	<string>pace-test-348c2</string>
	<key>STORAGE_BUCKET</key>
	<string>pace-test-348c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493159430521:ios:0681c97e3200247e9dd7a8</string>
</dict>
</plist>